{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>


<div class="text-info">
  {% if playlist.songs %}
  <ul>
      {% for song in playlist.songs %}
          <li><a href="/songs/{{ song.id }}">{{ song.title }}</a></li>
      {% endfor %}
  </ul>
  {% else %}
      <h4 class="my-3 text-danger">THIS PLAYLIST HAS NO SONGS</h4>
  {% endif %}
</div>

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/add-song">
    Add Song To Playlist
  </a>
</p>

{% endblock %}